/*INTRO PAGE*/
/*Unused stuff*/
/* min-width: forces the browser to override its default min width calculation (the browser's default layout mechanism wants to protect the content inside the flex child from shrinking past its min size*/

/*.portal-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

/* 3 WAYS TO HANDLE IMAGE RESIZING:
1) If your <div> has a defined container width, use max-width on the <img> to prevent overscaling from its native size:
.banner {
    width: 100px;
    height: auto;
}
.banner > img {
    max-width: 100%;
    height: auto;
}

2) If the <div> has a strict, fixed width and height (e.g. square avatar), when <img>'s width/height = 100% = squashed image. Use object-fit to crop it cleanly without distortion:
.banner {
    width: 300px;
    height: 300px;
}

.banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover; crops the edges, acts like a background image

3) If you want a full-width banner where the height naturally adjusts based on the width of the user's screen:
.banner {
    display: flex;
    justify-content: center;  centers horizontally
    align-items: center;  centers vertically
}

.banner > img {
    width: 50vw;
    height: 10vw;
    object-fit: cover;
    align-items: center;
}*/

/*STANDARD ANIMATION W/ SMOOTH GLIDING (UNUSED):
@keyframes wiggle {
    25%{
        transform:translateY(5vw) rotateZ(0deg);
    }
    50%{
        transform: translateY(5vw) rotateZ(20deg);
    }
    75%{
        transform: translateY(5vw) rotateZ(-20deg);
    }
    100%{
        transform:translateY(5vw) rotateZ(0deg);
    }
}*/

/*The navbar container:*/
/*#navbar {
    border: 2px solid black;
    border-bottom: none;
}*/

/*(Obsolete after the buttons were introduced):
The links - #navbar a does the same thing as #navbar > ul > li > a {
#navbar a {
    text-decoration: none;
    color: #f4eef5;
    font-weight: bold;
    font-size: large;
    background: none; Use for both the link and list items. The background was applied to both, not on the main list for some reason.
}

Basically the lists again but written in a diff way for some reason*/
/*nav ul li { /*Another way to target the same thing
  background: none;
}*/

/*.navbar-a { A way to solve buttons with links spilling over them
    display: inline-block;
    background-image: url("assets/images/wood texture.webp");
    position: static;
    top: 0;
    left: 0;
}*/